pdc/pthreads/src/*
pdc/openmp/src1/*
pdc/openmp/src2/*
pdc/cuda/src/*
pdc/cuda/src2/*
pdc/mpi/src/*

!pdc/pthreads/src/*.c
!pdc/openmp/src1/*.c
!pdc/openmp/src2/*.c
!pdc/cuda/src/*.cu
!pdc/cuda/src2/*.cu
!pdc/mpi/src/*.c

!pdc/pthreads/src/Makefile
!pdc/openmp/src1/Makefile
!pdc/openmp/src2/Makefile
!pdc/cuda/src/Makefile
!pdc/cuda/src2/Makefile
!pdc/cuda_gdb/Makefile
!pdc/mpi/src/Makefile

hpml/cuda/src1/*
hpml/cuda/src2/*

!hpml/cuda/src1/*.cu
!hpml/cuda/src2/*.cu

!hpml/cuda/src1/Makefile
!hpml/cuda/src2/Makefile